<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Etica.Alpayana</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/etica/root.css" rel="stylesheet" />
    <link href="~/css/etica/denuncias.css" rel="stylesheet" />
    <link href="~/dx/css/dx.material.custom.css" rel="stylesheet" />

</head> 
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dx/js/dx.all.js"></script>
    <script src="~/js/etica/denuncias.js"></script>
    <script src="~/js/init.js"></script>

</body>
</html>
