:root {
    --azuloscuro-color: #051e41;
    --gris-color: #d2d2cd;
    --salmon-color: #ffaf8c;
    --verdeoscuro-color: #005050;
    --amarillo-color: #ffb42d;
    --celeste-color: #b4ebf0;
    --blanco-color: #fff;
}
